.single-product {
    position: relative;
    background: white;
    width: 270px;
    padding: 15px 15px 30px 15px;
    border: 1px solid transparent;
}

.single-product img {
    display: block;
    width: 100%;
    height: auto;
}

.single-product:hover {
    border: 1px solid #dddddd;
}

.single-product:hover img {
    opacity: 0.2;
}

.product-details {
    text-align: center;
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.7s ease;
}

.single-product:hover .product-info {
    height: 100%;
}

.buy-btn {
    background: #f1ac06;
    color: white;;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}
.buy-btn:hover{
    background-color: #333;
}
.buy-btn:disabled,
.buy-btn[disabled] {
    opacity: 0.35;
    pointer-events: none;
}

.star-rating {
    visibility: visible;
}

.single-product:hover .star-rating {
    visibility: hidden;
}

@media only screen and (max-width:640px) {
    .section-title{
        width: 90%;
        margin: 0 auto 30px;
    }
}