.banner-title {
    font-family: 'Lily Script One', cursive;
    font-size: 36px;
    margin-bottom: 3px;
}

.banner-sub-title {
    font-size: 48px;
    line-height: 60px;
}
.banner-btn{
    background: #eba910;
}
.banner-btn:hover{
    background: #333;
}