.banner-title {
    font-family: 'Lily Script One', cursive;
    margin-bottom: 3px;
}

.banner-btn {
    background: #eba910;
    color: white;
    font-weight: 400;
    padding: 7px 18px 7px 18px;
    font-size: 16px;
    margin-top: 31px;
    border-radius: 5px;
}

.banner-btn:hover {
    background: #333;
}

@media only screen and (max-width: 640px) {
    .banner-btn {
        font-weight: 400;
        padding: 5px 14px 5px 14px;
        font-size: 10px;
        margin-top: 0px;
        border-radius: 5px;
    }
}